/*Navbar Modifications*/
.navbar-brand{
	padding: 35px;
    font-size: 2em;
}
.navbar-default{
	background-color: #fff;
}
.navbar-right
{
	height: 70px;
    margin-top: 20px;
    font-size: 18px;
}
.navbar-brand>img {
    height: 90px;
}
.navbar{
    margin-bottom: 0
}
/*navbar modifications end*/
/*Bootstrap Modifications*/
.panel-success>.panel-heading {
    background-color: #35a039;
    color: #fff;
   }
/*Bootstrap Modifications End*/


/*Default Styles*/
.background{
	background-color: #54667A;
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}


.text-center{
	text-align: center;
}
.text-font{
	font-family: "Times New Roman";
	font-style: italic;
}
.body-wrapper{
	min-height: 64vh;
	overflow: auto;
}
.btn-sharp{
    border-radius: 0;
    background-color: transparent;
    border :1px solid #fff;
    text-decoration: none;
    color: #fff;
    transition: all .5s ease;
    padding: 8px 20px;
}
.btn-sharp:hover{
    background-color: #fff;
    color: #000;
    transition: all .5s ease;
}
/*Default Styles end*/
/*Header Section starts*/
.header-tabs{
	background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-right: 1px solid #35a039;
    height: 54px;
}
/*Kar dun?*/
li.header-tabs > a{
	padding :0 !important;
	color: #fff !important; 
	/*Do not write white :| */
}
/*dropdown starts*/
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-right: 1px solid #35a039;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: .75em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*Header section ends*/
/*Hero Section*/
.hero-section{
	margin:auto;
	padding: 0;
    position: relative;
    height: 75vh;
    overflow: hidden;
}
.hero-section img{
    width: 100%;
    z-index: -1;
}
.img-overlay{
    z-index: 1;
    background: rgba(0, 0, 0, 0.44);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}
.hero-text{
    position: absolute;
    text-align: center;
    color: #fff;
    top: 0;
    left: 50%;
    user-select: none;
    cursor: default;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.hero-buttons{
    margin-top: 30px;
}
/*Hero Section Ends*/

.image-prop img{
	display: block;
	margin:auto;
	margin-top: 20px;
}
.image-prop h4{
	text-align: center;
	margin-bottom: 50px;
	overflow: auto;
}

/*footer starts*/

 .upper-footer ul
 {
	list-style: none;
	text-align:center;
 }

 .upper-footer li a{
	color: black;
	list-style: none;
 }

 .upper-footer li
 {
	display: inline-block;
	padding: 10px;
	list-style: none;
 }
 .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.features-grid{
	overflow: auto;
}
.features-grid h2{
    margin-top: 40px;
}
.features-grid hr{
	margin-bottom: 50px;
}
.features-grid > div{
    margin-top: 35px;
    margin-bottom: 35px;
    user-select: none;
    cursor: default;
}
.features-grid .fa {
    font-size: 6em;
    color: #959595;
    position: relative;
    transition: .5s ease all;
}

.features-grid > div:hover .fa{
    color: #000;
    transition: .5s ease all;
    top: -10px;
    font-size: 5em;
}

.features-grid li{
	list-style: none;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
/*Question Categories section starts*/
.question-categories{
	margin-top: 20px;
}
.question-categories ul{
	overflow: auto;
}
.question-categories li{
	list-style: none;
}
.question-categories li a{
	color:#134d69;
}
.question-categories h4{
	margin-top: 20px;
	color: #38923b;}
/*Question Categories section ends*/

/*Tri Columnar Section starts*/
.tricol .panel-body{
    padding: 0;
}
.tricol-body {
    height: 300px;
    overflow-y: scroll;
}

.tricol-body ul{
    padding: 0;
}

.tricol-body li{
	list-style: none;
    padding: 10px;
    border-top: 1px solid #e4e4e4;
}
.tricol-body li:hover{
    background-color: #e4e4e4;
}
.tricol-body a{
    color:#000;
}
.tricol-body a:hover{
    text-decoration: none;
}

/*Questions Page*/
.questions{
    list-style: none;
}

.q-number{
    float: left;
    margin-right: 15px;
}
.q{
    overflow: auto;
    font-weight: bold;
}
.options-wrapper{
    overflow: auto;
    padding-left: 20px;
    margin-top: 5px;
}
/*Take Test Page*/
.test-li{
    padding: 10px 0;
    overflow: auto; 
}

.test-li .q-text{
    padding: 10px 10px;
}
.test ul li:nth-child(odd){
    padding: 10px 0;
    background-color: #e4e4e4;
}
.no-of-questions, .time{
    float: left;
    margin-right: 20px;
    padding: 5px 0;
}
.test-li .form-control{
    float: left;
    width: auto;
}
.no-of-questions span, .time span{
    float: left;
    padding: 7px;
}
.test-li button{
    margin: 7px;
}
/*Take Test Page Ends*/

/*Test Instructions*/
.test-instructions .panel{
    margin-top: 30px;
}
.test-instructions .panel-title{
    font-size: 1.5em;
}
.test-instructions h3{
    font-size: 1.3em;
}
/*Test Instructions End*/


.view-companies li,h3{
    margin-bottom: 20px;
}
